.container_toggle{
    padding: 0;
    margin: 0;
}


input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 20px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;

    margin-top: 7px;
}

label::after{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-headings);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}