@media(min-width: 320px) and (max-width:425px){
    .container_section{
        width: 100%;
        font-size: .9rem;
    }
}

@media(min-width: 320px) and (max-width: 768px){
    .container_section{
        width: 100%;
    }
    .estudante{
        display: none;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
}