.section{
    width: 80%;
    margin: 5rem auto;
}

.section h1{
    font-weight: 500;
    font-size: 3.5rem;
}
.pull-right{
    font-size: 100px;
}

/*Card*/
.card-colaboradores{
    background-color: var(--bg-card);
    color: var(--text-white);
    box-shadow: 0 2px 18px var(--bg-text);
    border-radius: 20px;
    max-width: 300px;
    max-height: 650px;
    min-height: 570px;
    position: relative;

    text-align: center;
}
.topCard, .bottomCard{
    padding: 20px;
}
.mediaCard img{
    background: center/cover;
    width: 90%;
    height: 260px;
    border-radius: 80%;
    margin: 15px;
}

@media(min-width: 320px) and (max-width:425px){
    .container_section{
        width: 100%;
        font-size: .9rem;
    }
    .sobre h1{
        font-weight: 500;
        font-size: 2.5rem;
    }
    .colaboradores h1{
        font-size: 2rem;
    }
    .pull-right{
        font-size: 50px;
    }
    .mediaCard img{
        background: center/cover;
        width: 90%;
        height: 190px;
        border-radius: 80%;
        margin: 15px;
    }
}