html {


    --bg: #121212;
    --bg-text: white;
    --color-headings: #0077FF;
    --color-text: #333333;
}

body{
    background: var(--bg);
}

a{
    color: #121212;
}
a:hover{
    color: #e1e1e1;
    text-decoration: none;
}

/*Barra de Navegação*/
.style-title{
    background: #efd81d;
    padding: 10px 5px 0 10px;
    font-size: 0.6em;
    font-weight: 700;
    color: #121212;
}

.navbar h1, .navbar li a{
    color: var(--bg-text);
    user-select: none;
}
.dropdown-menu{
    background: var(--bg);
    text-align: center;
}
button.navbar-toggler{
    outline: none;
}
i.fas.fa-bars::before{
    color: var(--bg-text);
}

/*Bio*/
.bio{
    padding: 5rem 0;
    color: var(--bg-text);
}
.svg-animated{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-text p{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 8rem;
}


/*Card*/
.card{
    border-radius: 5px;
    background: rgba(255, 255, 255, .95);
    
}
.card-body{
    min-height: 17.5rem;
    position: relative;
}
.icons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.projects{
    margin: 50px 60px;
}
.projects img{
    height: 220px;
}

/*Resolution*/

@media (min-width: 493px) and (max-width: 768px){

    .bio-text p{
        font-size: 1.4em;
        padding: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 492px){
    .svg-animated{
        display: none;
    }
    .bio-text p{
        font-size: 1.5em;
        padding: 1rem;
        text-align: left;
    }
}


/*Resolution Cards*/
@media (min-width: 992px) and (max-width: 1174px){
    .card-body{
        font-size: 0.9em;
        max-height: 320px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .card{
        max-width: 350px;
        max-height: 500px;
        margin: 0;
        padding: 0;
    }
}
@media (min-width: 507px) and (max-width: 767px){
    .col-lg-3.col-md-6.mb-4{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .card{
        max-width: 350px;
        max-height: 500px;

    }
}