
.body{
    width: 90%;
    margin: 1rem auto;
}

/*Barra de Navegação*/
.title_JS{
    background: #efd81d;
    padding: 10px 5px 0 10px;
    font-size: 0.6em;
    font-weight: 700;
    color: #121212;
}

.container_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bg-text);
}

.container_nav ul{
    display: flex;
    gap: 20px;

    font-weight: 500;
    font-size: 1.3rem;
}
.container_nav ul li a{
    color: var(--bg-text);
    transition: .6s;
}
.container_nav ul li a:hover{
    color: #efd81d;
}

/*Apresentação*/
.container_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    color: var(--bg-text);
}
.title p{
    font-size: 1.5em;
    padding: 2rem ;
    font-weight: 500;
}

/*Card*/
.projetos_container h1{
    text-align: center;
    font-size: 3.3rem;
    font-weight: 600;
    margin: 1.5rem;
    color: var(--bg-text);
}
.projetos_container a{
    color: var(--bg);
    font-size: 1.3rem;
    font-weight: 500;
    background-color: var(--text-white);
    padding: 15px 40px;
    border-radius: 35px;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
    transition: .5s ease-in-out;
}
.link a:hover{
    transform: scale(1.2);
}
.content {
    width: 90%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 3rem;
}
.card{
    background-color: var(--bg-card);
    color: var(--text-white);
    box-shadow: 0 2px 18px var(--bg-text);
    border-radius: 20px;
    max-width: 300px;
    max-height: 650px;
    min-height: 570px;
    position: relative;
}
.mediaCard img{
    background: center/cover;
    width: 100%;
    height: 260px;
}
.topCard, .bottomCard{
    padding: 20px;
}
.actionCard{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;

    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px;
}
.actions{
    background: none;
    border: none;
    color: var(--bg-icons);
    cursor: pointer;
}

/*footer*/
footer{
    border-top: 1px solid var(--line);
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--bg-text);
}
.links_footer ul{
    display: flex;

    justify-content: center;
    gap: 20px;
}