body{
    background: var(--bg);
    color: var(--text-white);
}
.body{
    width: 90%;
    margin: 1rem auto;
}

/*Barra de Navegação*/
.title_JS{
    background: #efd81d;
    padding: 10px 5px 0 10px;
    font-size: 0.6em;
    font-weight: 700;
    color: #121212;
}

.container_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container_nav ul{
    display: flex;
    gap: 20px;

    font-weight: 500;
    font-size: 1.1rem;
}
.container_nav ul li a{
    color: var(--text-white);
    transition: .6s;
}
.container_nav ul li a:hover{
    color: #efd81d;
}

/*Apresentação*/
.container_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
.title p{
    font-size: 1.5em;
    padding: 1rem 8rem;
}


/*Card*/
.card{
    border-radius: 5px;
    background: rgba(255, 255, 255, .95);
    
}
.card-body{
    min-height: 17.5rem;
    position: relative;
}
.icons{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.projects{
    margin: 50px 60px;
}
.projects img{
    height: 220px;
}

/*Resolution*/

@media (min-width: 493px) and (max-width: 768px){

    .bio-text p{
        font-size: 1.4em;
        padding: 1rem;
    }
}

@media (min-width: 320px) and (max-width: 492px){
    .svg-animated{
        display: none;
    }
    .bio-text p{
        font-size: 1.5em;
        padding: 1rem;
        text-align: left;
    }
}


/*Resolution Cards*/
@media (min-width: 992px) and (max-width: 1174px){
    .card-body{
        font-size: 0.9em;
        max-height: 320px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .card{
        max-width: 350px;
        max-height: 500px;
        margin: 0;
        padding: 0;
    }
}
@media (min-width: 507px) and (max-width: 767px){
    .col-lg-3.col-md-6.mb-4{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .card{
        max-width: 350px;
        max-height: 500px;

    }
}