
body{
    background: #121212;
    color: white;

    height: 100vh;
    display: grid;
    align-items: center;
}

li{
    list-style: none;
}

span{
    font-size: 8em;
    font-weight: 400;
}

.countdown{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 300px));
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.countdown li{
    padding: 1rem;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
    text-align: center;
}

.sec{
    color: #ed5485;
}
.msg{
    color: white;
}