@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

body{
    background: #121212;
    color: white;
}

h1{
    font-size: 5em;
}
span{
    font-size: 3em;
    font-weight: 600;
}

.c-container{
    height: 96vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.sec{
    font-size: 0.5em;
}

footer{
    border-top: 0.5px solid #ccc;
    padding-top: 3px;
}
footer a, a:hover{
    color: white;
    text-decoration: none;
}