/**body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(118,0,246,1) 61%, rgba(0,0,0,1) 100%);

    color: white;
}
*/

.conatiner-principal{
    text-align: center;
}
.container-dados{
    background: #eee;
    width: 30%;
    margin: auto;

    padding: 10px 20px 20px 20px;
    border-radius: 10px;
}
label{
    width: 100%;
    font-size: 1.2em;
    text-align: left;
    padding-left: 20px;
    padding-top: 5px;

    color: rgba(0, 0, 0, 0.6);
}
input{
    outline: 0;
    border: 1px solid #ccc;
    width: 90%;
    height: 35px;

    border-radius: 5px;
    padding: 0 7px;
}

/*Campo de validação*/
input.sucesso{
    border-color: green;
}

input.erro, .info-idade{
    border-color: red;
    color: red;
}